body{
    padding: 0vh;
    height: 0vh;
    width: 0vh;
}

.fundobranco{
    position: absolute;
    width: 1000px;
    height: 1072px;
    top: 150px;
    left: 25%;
    background-color: rgb(255, 255, 255);
}

.amarela{
    position: absolute;
    top: 0px;
    width: 1920px;
    height: 150px;
    background-color: gold;
}

.logo{
    position: absolute;
    top: -10px;
    width: 185px;
    height: 170px;
    left: 70px;
}

.usuario{
    position: absolute;
    top: 45px;
    border-radius: 50px;
    left: 85%;
}

.user{
    position: absolute;
    height: 25px;
    width: 130px;
    top: 65px;
    left: 1640px;
}

.carrinhoo{
    position: absolute;
    height: 35px;
    width: 35px;
    top: 60px;
    left: 1810px;
    border-radius: 15px;
}

.jogo{
    position: absolute;
    top: 150px;
    left: 25%;
    width: 360.3px ; 
}

.comprar{
    position: absolute;
    top: 55%;
    left: 45%;
    width: 600px;
    height: 100px;
}

.gta5{
    position: absolute;
    width: 190.3px;
    left: 28%;
    top: 90%;
}

.gow{
    position: absolute;
    width: 170.3px;
    left: 45%;
    top: 89.9%;
}

.mine{
    position: absolute;
    width: 170.3px;
    left: 62%;
    top: 89.9%;
}

.OUTROS{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50.5%;
    top: 80%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 2em;
    color: #000;
    text-shadow: 0 0 0.6rem #000, 0 0 1.5rem gold,
    -0.2rem 0.1rem 1rem gold, 0.2rem 0.1rem 1rem gold,
    0 -0.5rem 2rem #000000, 0 0.5rem 3rem #000000;
    animation: shine 2s forwards, flicker 3s infinite;
}

.pesquisa {
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    padding: 10px;
    background: gold;
    /*cor da balão*/
}
.pesquisa:hover{
    justify-content: center;
    align-items: center;
    background: white;
}

.pesquisa:hover>.pesquisa-texto {
    width: 245px;
    /* tamanho do texto, porem quando minimizado*/
    padding: 0 6px;
}

.pesquisa:hover>.pesquisa-texto {
    background: rgb(255, 255, 255);
    /*caixa d texto*/

}
.pesquisa-botao:hover{
    justify-content: center;
    align-items: center;
    color: gold;
}
.pesquisa-botao {
    color: rgb(255, 255, 255);
    /*cor da lupa*/
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 80%;
    background: rgb(0, 0, 0);
    /*cor do fundo da lupa*/
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.pesquisa-texto {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(0, 0, 0);
    /* cor do texto*/
    font-size: 13.5px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    /* tamanho da barra de texto*/
    font-family: Verdana, Tahoma, sans-serif;
}


.ejogos{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 60.5%;
    top: 25%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 5em;
    color: #000;
    text-shadow: 0 0 0.6rem #000, 0 0 1.5rem gold,
    -0.2rem 0.1rem 1rem gold, 0.2rem 0.1rem 1rem gold,
    0 -0.5rem 2rem #000000, 0 0.5rem 3rem #000000;
    animation: shine 2s forwards, flicker 3s infinite;
}

.descricao{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 60.5%;
    top: 40%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 2em;
    color: #000;
    text-shadow: 0 0 0.6rem #000, 0 0 1.5rem gold,
    -0.2rem 0.1rem 1rem gold, 0.2rem 0.1rem 1rem gold,
    0 -0.5rem 2rem #000000, 0 0.5rem 3rem #000000;
    animation: shine 2s forwards, flicker 3s infinite;
}
@keyframes blink{
    0%,
    22%,
    36%,
    75%{
        color: #000000;
        text-shadow: 0 0 0.6rem #000, 0 0 1.5rem gold,
        -0.2rem 0.1rem 1rem gold, 0.2rem 0.1rem 1rem gold,
        0 -0.5rem 2rem #000000, 0 0.5rem 3rem #000000;
    }
    28%,
    33%{
        color: #000000;
        text-shadow: none;
    }
    82%,
    97%{
        color: #000000;
        text-shadow: none;
    }
}
.flicker{
    animation: shine 2s forwards, blink 3s 2s infinite;
}
.fast-flicker{
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes flicker{
    from{opacity: 1;}
    4%{opacity: 0.9;}
    6%{opacity: 0.85;}
    8%{opacity: 0.95;}
    10%{opacity: 0.9;}
    11%{opacity: 0.922;}
    12%{opacity: 0.9;}
    14%{opacity: 0.95;}
    16%{opacity: 0.98;}
    17%{opacity: 0.9;}
    19%{opacity: 0.93;}
    20%{opacity: 0.99;}
    24%{opacity: 1;}
    26%{opacity: 0.94;}
    28%{opacity: 0.98;}
    37%{opacity: 0.93;}
    38%{opacity: 0.5;}
    39%{opacity: 0.96;}
    42%{opacity: 1;}
    44%{opacity: 0.97;}
    46%{opacity: 0.94;}
    56%{opacity: 0.9;}
    58%{opacity: 0.9;}
    60%{opacity: 0.99;}
    68%{opacity: 1;}
    70%{opacity: 0.9;}
    72%{opacity: 0.95;}
    93%{opacity: 0.93;}
    95%{opacity: 0.95;}
    97%{opacity: 0.93;}
    to {opacity: 1;}
}

@keyframes shine {
    0%{
        color: #000000;
        text-shadow: none;
    }
    100%{
        color: rgb(0, 0, 0);
        text-shadow: 0 0 0.6rem #000, 0 0 1.5rem gold,
        -0.2rem 0.1rem 1rem gold, 0.2rem 0.1rem 1rem gold,
        0 -0.5rem 2rem #000000, 0 0.5rem 3rem #000000;
    }
}